body {
  background-image: url(../img/wee.jpeg);
}

img {
  width: 300px;
  margin: auto;
  border-radius: 50px;
}

.animal {
  float: left;
  width: 300px;
  height: 500px;
  padding: 5px;
  border: 3px solid #00eedd;
  margin: 5px;
  background-color: #111111;
  border-radius: 50px;
}

h1, h2 {
  text-align: center;
  color: teal;
  text-shadow: 2px 2px #00eedd;
  background-color: #111111;
  border: 3px solid #00eedd;
  border-radius: 50px;
  border-style: double;
}

.animal ul {
  text-shadow: 1px 1px #00eedd;
  color: teal;
}

@media screen and (max-width: 1000px) {
  img {
    width: 200px;
  }

  .animal {
    width: 200px;
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  img {
    width: 150px;
  }

  .animal ul {
    float: right;
    padding: 5px;
  }

  .animal {
    float: none;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 95%;
    height: 250px;
  }
}
